.about-page {
  padding: 100px 20px;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.about-card {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  width: 250px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.about-card:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 40px;
  color: #00f7ff;
  margin-bottom: 15px;
}

