.detail-page {
  min-height: 80vh;
  padding: 100px 20px;
  text-align: center;
}

.detail-page h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.points {
  list-style: none;
  max-width: 500px;
  margin: auto;
}

.points li {
  background: rgba(255,255,255,0.05);
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}