.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(153, 127, 128, 0.6);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.navbar h2 {
  color: #00f7ff;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00f7ff;
}